version: '2'
services:
  elasticsearch:
    image: elasticsearch
    ports:
      - 9201:9200
  db:
    image: postgres
  web:
    # environment:
    #   - ELASTICSEARCH_URL=http://elasticsearch:9200
    # environment:
    # #   PORT: 2204
    #   DATABASE_URL: 'postgres://postgres:@0.0.0.0:5432/postgres'
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
      - "5544:5544"
    depends_on:
      - db
      - elasticsearch
