<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Autocompeter</title>
</head>
<body>
<h1>Autocompeter</h1>
<h2>{{.}}</h2>
<p>To use this server, use:</p>
<pre>curl <script>document.write(location.protocol + '//' + location.host)</script>/v1?q=term1%20term2</pre>
</body>
</html>
